.cabeçalho {
    background-color: rgb(11, 7, 236);
    color: rgb(237, 243, 245);
    display: flex;
    padding: 10px;
    justify-content: space-around;
}
.cabeçalho-imagem {
    width: 10%;
    height: 10%;
}
* {
    margin: 0;
    padding: 0;
}
.cabeçalho-item {
display: inline-block;
font-size: 30px;
padding: 0 0 0 10px;
}

.escola { 
    background-color: rgb(7, 240, 248);
    color: black;
    font-size: 20px;
    padding: 30px 25px;
}

.escola-titulo {
    padding: 24px 0;
}
body {
    font-family: sans-serif;
}
.estudante1-div {
    text-align:center;
    padding: 24px 0;
    background-color: rgb(224, 233, 233);
}
.estudante1-imagem {
    width: 160px;
}
.estudante1-titulo {
    padding: 30px;
}









